.image {
    
    margin-left: 20px; 
    
    margin-top:  10px;
    border-radius:999em;   
-moz-border-radius:999em; 
-webkit-border-radius:999em;
  -o-border-radius: 999em;   
}
.item {
    
    margin-top: 30px;
}
.edit {
    font-size: small;
    
    
}

.save{
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;

}
.arrow {
    margin-left: 150px;
}