<ion-header >
  
</ion-header>

<ion-content color="dark">
<ion-tabs>
  <ion-tab-bar slot ="bottom" color="dark" >
    <ion-tab-button tab="abbonamento" >
       <ion-icon name="albums" ></ion-icon>
      <ion-label >Abbonamento</ion-label>
    </ion-tab-button>
    
      

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prenotazioni">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Prenotazioni</ion-label>
    </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
</ion-content>
