.foto{
    border-radius:999em;   
-moz-border-radius:999em; 
-webkit-border-radius:999em;
  -o-border-radius: 999em;   
}
.item {
  margin-left: 15px;
  margin-top: 30px;
}

.grid {
  margin-bottom: 100px;
}