<ion-header >
  
</ion-header>

<ion-content color = "dark">

  
    <img src = "assets/icon.png" width = "100" height="100" class="icon">
    <img>

    <ion-item  color ="medium" class="username">
      <ion-label class="username_label">Username</ion-label>
      <ion-input type ="email" placeholder ="email@domain.com" id="email"
      [(ngModel)] = "email" ></ion-input>
    </ion-item>

    <ion-item color = "medium" class ="password">
      <ion-label class = "password_label">Password</ion-label>
      <ion-input type ="password" value="password" id="password"
      [(ngModel)] = "password" ></ion-input>
    </ion-item>

    <div class="change_password">
      <a class ="link"> <u>Password dimenticata?</u></a>
    </div>

    <ion-button color ="secondary"expand ="block" class="Sign_in" (click) ="Login()">
      Sign in 

    </ion-button >

    <ion-button color = "primary" expand ="block" class="Sign_up" (click) = "SignUp()">
      Sign up
    </ion-button>
    
  
  
  

</ion-content>
